body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: right;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #d0d0d0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn.operator {
    background-color:#090600;
    color: #fff;
}

.btn.operator:hover {
    background-color:#efce9e;
}

.btn.operator:active {
    background-color:#807b76;
}

.btn.clear {
    background-color: #e57373;
    color: #fff;
}

.btn.clear:hover {
    background-color: #ef5350;
}

.btn.clear:active {
    background-color: #e53935;
}

.btn.equals {
    background-color: #4caf50;
    color: #fff;
}

.btn.equals:hover {
    background-color: #43a047;
}

.btn.equals:active {
    background-color: #388e3c;
}